<tr>
  <td width="2%">
   <% if current_user.id == meeting.id %>
      <%= link_to image_tag ('/images/bin.png', :title => 'Cancella l''evento', :border=>0),
	   meeting,
	   :confirm => "Sicuro?",
	   :method => :delete,
	   :id => meeting.id %>

   <% end %>
  </td>

  <td width="3%">
    <%= link_to image_tag ('/images/attend_add.gif', :title => 'Partecipa all''evento', :border=>0),
	 :after => "new Effect.Highlight(this.parentNode, { startcolor: '#ffff99', endcolor: '#ffffff' }); return false;",
	 :action => 'add_me_to_event',
	 :id => meeting.id unless am_i_involved_in?(meeting.id) %>
    <%= link_to image_tag('/images/attend_remove.gif', :title => 'Rinuncia all''evento', :border => 0) , :action => 'remove_me_from_event', :id => meeting.id if am_i_involved_in?(meeting.id) %>
  </td>
  <td width="10%">
    <%= link_to image_tag('/images/icon_calendar.png', :title => 'Vedi e proponi date', :border => 0) , :controller => 'proposal_dates', :action => 'index', :meeting_id => meeting.id if meeting.date == nil %>
    <%= meeting.date unless meeting.date == nil %>
  </td>
  <td width="5%"><%= image_tag(meeting.image_url, :size=>"37x50") %></td>
  <td width="60%"><%=link_to meeting.title, meeting %></td>
  <td width="20%">

    <%= render :partial => "participant", :collection => participants_to(meeting), :locals => { :meeting => meeting } unless participants_to(meeting).empty? %>
    <% puts users_participants_to(meeting).to_sentence %>
  </td>
</tr>

