<h2>  <%=h @meeting.title %></h2>
<%= image_tag(@meeting.image_url, :size => "75x100", :alt => "Immagine evento") %>
<p>
  <b>Descrizione:</b>
  <%=h @meeting.body %>
</p>
<% if @meeting.duration %>
<p>
  <b>Durata prevista:</b>
  <%=h @meeting.duration %> ore
</p>
<% end %>
<p>
  <b>Organizzatore:</b>
  <%=h @meeting.organizator.name if @meeting.organizator %>
</p>


<%= link_to 'Modifica', edit_meeting_path(@meeting) %> |
<%= link_to "Cancella", @meeting, :method => :delete %> |
<%= link_to 'Indietro', meetings_path %>
