<h2>  <%=h @attender.name %></h2>
<p>
  <b>email:</b>
  <%=h @attender.email %>
</p>
<p>
  <b>Telefono:</b>
  <%=h @attender.phone %>
</p>

<%= link_to 'Conferma modifiche', edit_attender_path(@attender) %> |
<%= link_to 'Indietro', attenders_path %>
