<h1>Attualmente in programma</h1>

<% for meeting in @meetings -%>
  <div class="meeting">
    <%= image_tag(meeting.image_url) %>
    <h3><%=h meeting.title %></h3>
    <div class="description-line">
      <span class="description" ><%= meeting.body%></span>
      <% if not @meetings.include?(meeting) %>
	<%= button_to "Partecipa!", :action => 'add_to_cart', :id => meeting %>
	<% else %>
        <%= button_to "Non mi interessa più", :action => 'remove_from_cart', :id => meeting %>
      <% end %>
    </div>
  </div>
  <hr/>
<% end %>
